.header{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
}

.header-top__container{
    display: flex;
    align-items: center;
    padding: 14px 0 13px;
    justify-content: space-between;
    position: relative;
}

.logo_img{
    width: 23px;
}

.header-top__btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 72px;
    padding-right: 10px;
}

.header-medium__container{
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
}