.header-top__container{
    display: flex;
    align-items: center;
    padding: 30px 0 20px;
    justify-content: space-between;
    position: relative;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-top__btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 150px;
    padding-right: 10px;
}

.separator{
    position: absolute;
    width: 100%;
    background-color: black;
    height: 1px;
    left: 0;
}

.header-medium__container{
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
}