.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-bar {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #000;
  animation: spin 2s linear infinite;
}

.loader-bar:nth-child(2) {
  border-bottom-color: #000;
}

.loader__logo{
  animation: breath 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes breath {
  0% {
    opacity: 0.3;
    scale: 0.9  
  }
  25%{
    opacity: 0.5;
    scale: 1.1  
  }
  50% {
    opacity: 1;
    scale: 1.3;
  }
  75%{
    opacity: 0.5;
    scale: 1.1  
  }
  100% {
    opacity: 0.3;
    scale: 0.9  
  }
}

