.status-dropdown-trigger {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 0px 10px;
    vertical-align: middle;
  }
  
  .status-filterdropdownlist__arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
  }
  
  .status-filterdropdownlist__arrow-btn {
    top: 12px;
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: all 0.2s ease;
  }
  
  .status-filterdropdownlist__arrow-btn:first-of-type {
    left: 0;
    transform: rotate(45deg);
  }
  
  .status-filterdropdownlist__arrow-btn:last-of-type {
    right: 0;
    transform: rotate(-45deg);
  }
  
  .status-filterdropdownlist__arrow-active .status-filterdropdownlist__arrow-btn:first-of-type {
    transform: rotate(-45deg);
  }
  
  .status-filterdropdownlist__arrow-active .status-filterdropdownlist__arrow-btn:last-of-type {
    transform: rotate(45deg);
  }
  
  .status-dropdown-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
  }