.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
}

.btn_img{
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}