.supplyTable{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(40px);
    border-radius: 7px;
    z-index: 5;
    width: 1612px;
    left: 50%;
    transform: translateX(-50%);
}

.supplyTable__header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.supplyTable__saveBtn{
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4px 23px;
    cursor: pointer;
    font-size: 14px
}

.supplyTable__date{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.supplyTable__close{
    background-color: transparent;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px
}

.supplyTable__close:hover{
    background-color: rgba(230, 230, 230, 1);
}

.supplyTable__content{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 15px;
}

.supplyTable__content-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.supplyTable__content-wrapper{
    display: flex;
    gap: 16px;
    align-items: end;
}

.supplyTable__content-item{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.supplyTable__conterAgent-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    /* padding-left: 10px; */
}

.supplyTable__conterAgent-input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 3px 10px;
    width: 188px;
}

.supplyTable__conterAgent-message{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 2px 20px;
}

.supplyTable__note{
    resize: none;
    width: 200px;
    height: 147px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding-left: 5px;
}

.supplyTable__table-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: 100%;
    padding: 0 20px;
    width: 530px;
}

.supplyTable__table{
    width: 100%;
    border-radius: 7px;
}

.supply-file-column-header{
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}


.supply-file-column-header:nth-last-child(-n+2),
.supply-file-column-header:nth-last-child(-n+2){
    color: transparent;
}

.supply-file-column{
    padding-bottom: 16px;
    font-size: 14px;
    vertical-align: middle;
}


.supply-file-column-header:first-child,
.supply-file-column:first-child {
  max-width: 30%;
}

.supply-file-column-header:nth-child(2),
.supply-file-column:nth-child(2),
.supply-file-column-header:nth-child(3),
.supply-file-column:nth-child(3),
.supply-file-column-header:nth-child(4),
.supply-file-column:nth-child(4) {
  width: 20%;
}

.supply-file-column-header:nth-last-child(-n+2),
.supply-file-column-header:nth-last-child(-n+2),
.supply-file-column:nth-last-child(-n+2),
.supply-file-column:nth-last-child(-n+2) {
  width: 5%;
}

.supply-file-column__container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    width: 100%;
    text-align: center;
}

.supply-file-column__btn{
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.supplyTable__table-add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.supplyTable__table-add-btn{
    width: 23px;
    height: 23px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.supplyTable__table-add-btn::before {
    content: '+';
    width: 15px;
    height: 15px;
    display: block;
    top: 1.1px;
    left: 5.1px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
  }

.files-dragAndDrop{
    height: 35%;
}

.files-dragAndDrop__upload-zone {
    border: 2px dashed #ccc;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.files-dragAndDrop__upload-zone.dragging{
    border-color: rgba(0, 0, 0, 1);
}

.files-dragAndDrop__upload-zone-plus{
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}
