.products__header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.products__btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 362px
}

.productsTable-btn__container{
    display: flex;
    align-items: center;
    gap: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.productsTable-btn__counter{
    background-color: rgba(0, 0, 0, 1);
    border-radius: 7px;
    color: #fff;
    padding: 3px 10px;
}

.productsTable-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
}

.products__settings-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.products__settings{
    position: absolute;
    right: 28px;
    top: 24px;
    border-radius: 7px;
    padding: 17px 35px 20px 14px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 3;
    backdrop-filter: blur(8px);
}

.products__settings-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.products__settings-item{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 9px;
}

.products__settings-content{
    font-size: 13px;
    line-height: 16px;
}

.products__settings-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-custom {
    position: absolute;
    top: -9px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent; 
    border: 1px solid black; 
    border-radius: 5px;
    cursor: pointer;
}

.custom-checkbox:checked ~ .checkbox-custom {
    background-color: black; 
}

.checkbox-custom::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox:checked ~ .checkbox-custom::after {
    display: block;
}

.checkbox-custom::after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white; 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.filter{
    /* position: absolute;
    top: 201px;
    width: calc(100% - 100px); */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 129px;
    left: 0;
}

.filter__content{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 37px 22px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.closeBtn__container{
    display: flex;
    justify-content: end;
}

.filter__container{
    display: flex;
    margin-bottom: 16px;
    gap: 39px;
}

.filter__container + .filter__container{
    margin-bottom: 27px;
}

.filter__item{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.filter__input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #fff;
}

.filter__input--pokupatel{
    width: 323px;
    cursor: text;
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

.filter__input--zakaz{
    cursor: text;
}

.filter__select{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #fff;
}

.filter-btn-container{
    display: flex;
    justify-content: end;
    gap: 21px;
}

.productTable{
    display: flex;
    /* position: relative; */
}

.productTable__nav{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 165px;
}

.productTable__nav-header{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 8px;
}

.productTable__nav-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 14px;
}

.productTable__nav-btn{
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    padding: 3px 27px;
    font-size: 16px;
    transition: all 0.7s ease-in;
}

.productTable__nav-btn:hover{
    border: 1px solid rgba(0, 0, 0, 1);
    transition: all 0.1s;
}

.productTable__nav-btn--selected{
    border: 1px solid rgba(0, 0, 0, 1);
}

.productTable__nav-add{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.productTable__nav-addBtn::before{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.categories-settings{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.categories-settings-content{
    width: 507px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 22px 30px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
}

.categories-settings__close{
    display: flex;
    justify-content: end;
}

.categories-settings__close-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.categories-settings__input{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 14px;
}

.categories-settings__input-text{
    font-size: 14px;
    padding-left: 8px;
}

.categories-settings__input-input{
    width: 100%;
    height: 29px;
    border: none;
    border-radius: 7px;
    padding-left: 8px;
}

.categories-settings__btn{
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.categories-settings__btn-item{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 7px;
    padding: 0 10px;
}

.categories-settings__btn-btn{
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}
.categories-settings__btn-img{
    width: 8px;
    height: 7px;
}

.categories-settings-add{
    display: flex;
    justify-content: end;
}

.categories-settings-add__btn{
    background-color: transparent;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0);
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 7px;
}

.categories-settings-add__btn:hover{
    background-color: rgba(0, 0, 0);
    color: #fff;
}

.productTable__table{
    flex-grow: 0;
    min-height: 100px; 
}

.products-column-header{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: normal;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 18px;
    padding-top: 8px;
}

.products-column-header:first-child{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.products-column{
    text-align: center;
    padding: 0 20px 4.5px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.products-column:first-child{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.products-column-container{
    padding: 2px 0;
}

.column-name{
    width: 282px;
}

.column-name__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-colums-selected{
    border: 1px solid #000;
    border-radius: 7px;
}

.column-name__container-img{
    width: 28px;
    height: 21px;
}

.column-name__img{
    width: 100%;
    height: 100%;
}

.column-name__container-img:hover .column-name__img {
    transform: scale(10) translate(20px, 0);
    border: 1px solid rgba(0, 0, 0);
    border-radius: 7px;
}

.column-article{
    width: 183px;
}

.column-price{
    width: 183px;
}

.column-remains{
    width: 183px;
}

.column-archive{
    width: 121px;
}

.column-archive__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.column-archive__img--hover{
    display: none;
}

.column-archive__btn:hover .column-archive__img--hover{
    display: block;
    transform: rotate(180deg);
    transition: all 0.3s;
}

.column-archive__btn:hover .column-archive__img{
    display: none;
}