.Appnavbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    min-width: 685px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.Appnavbar__container-li{
    border: 1px solid #fff;
    border-radius: 7px;
}

.Appnavbar__container-li_active{
    border: 1px solid #000000;
}

.Appnavbar__container-li:hover{
    border: 1px solid #000000;
}

.Appnavbar__container-link{
    display: block;
    padding: 5px 20px;
}