.table {
    width: 100%;
    border-collapse: collapse;
}

.table-header{
    position: sticky;
    top: 190px;
    background-color: #fff;
    z-index: 1;
}

.table-row:hover td {
    background-color: #f0f0f0; 
    border-color: #f2d9d9; 
  }

.table th,
.table td {
    border-right: 1px solid #00000033;
    padding: 5px;
    text-align: center;
}

.table th:first-child{
    padding-left: 26px;
}

.table th:last-child,
.table td:last-child{
    border: none;
}

.table th{
    padding: 8px 0 26px;
    color: #00000080;
    font-weight: 400;
}

.column-header{
    border-left: none;
}

.column-class{
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.column-number{
    min-width: 95px;
    max-width: 238px;
}

.column-number__link-container{
    /* margin-top: 5px; */
}



.column-number-link{
    flex-grow: 1;
    height: 100%;
    padding-left: 25px;
}

.column-date{
    min-width: 109px;
    max-width: 261px;
    /* border: 1px solid #000;
    border-radius: 7px; */
}

.column-date__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.column-full_name{
    min-width: 140px;
    max-width: 411px;
}

.column-full_name__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.column-status{
    min-width: 135px;
    max-width: 230px;
}

.column-status__list-container{
    position: relative;
}

.column-status__list{
    position: absolute;
    top: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(40px);
    padding: 7px 7px 15px;
    border-radius: 7px;
}

.column-status__container{
    width: 100%;
    
}

.column-status__in-process{
    background-color: rgba(255, 202, 169, 1);
    border-radius: 7px;
    padding: 4px 7px;
    cursor: pointer;
    border: 1px solid transparent;
}

.column-status__refund{
    background-color: rgba(255, 169, 169, 1);
    border-radius: 7px;
    padding: 4px 7px;
    cursor: pointer;
    border: 1px solid transparent;
}

.column-status__delivered{
    background-color: rgba(173, 255, 169, 1);
    border-radius: 7px;
    padding: 4px 7px;
    cursor: pointer;
    border: 1px solid transparent;
}

.column-messages{
    min-width: 124px;
    max-width: 146px;
}

.column-tag{
    min-width: 98px;
    max-width: 251px;
}

.column-tag__container{
    background-color: #A9C7FF;
    border-radius: 7px;
    padding: 4px 5px;
}

.column-summ{
    min-width: 98px;
    max-width: 233px;
}

.column-summ__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 3px 5px;
}

.column-channel{
    min-width: 141px;
}

.column-channel__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.column-address{
    /* min-width: 146px; */
    white-space: nowrap;
    max-width: 146px;
}

.column-address__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-storage{
    min-width: 140px;
}

.column-storage__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-note{
    min-width: 140px;
    max-width: 142px;
}

.column-note__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-comment{
    min-width: 140px;
    max-width: 142px;
}

.column-comment__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-phone_number{
    min-width: 140px;
}

.column-phone_number__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-email{
    min-width: 140px;
}

.column-email__container{
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.highlighted-cell{
    border: 1px solid #000;
}

.some-class-or-rule .big-text{
    background-color: blue;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}