.orderData-new {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 82%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(40px);
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 1612px;
    padding: 20px;
    z-index: 3;
}

.orderData__header-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 56px;
}

.orderData__header-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 93px;
}

.orderData__navBar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 111px;
}

.orderData__navBar-link {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 5px 8.5px;
    cursor: pointer;
}

.orderData__navBar-link:first-child {
    border: 1px solid rgba(0, 0, 0, 1);
}

.orderData__header-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.orderData__save-btn {
    display: flex;
    justify-content: start;
}

.orderData__header-data--page {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.orderData__header-data--new{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.OrderData__settings-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.orderDataInfo {
    display: flex;
    justify-content: space-between;
    /* width: 82.3%; */
    margin: 0 auto 56px;
}

.orderDataInfo__personalInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderDataInfo__header-new {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.orderDataInfo__header-page {
    display: flex;
    gap: 20px;
}

.orderDataInfo-item {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    cursor: text;
}

/* .orderDataInfo__personalInfo.warning .orderDataInfo-item{
    border: 1px solid red;
}

.orderDataInfo__personalInfo.warning .orderDataInfo-item{
    border: 1px solid red;
} */

.orderDataInfo-item-content {
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: text;
    transition: all 0.4s ease-in;
}

.orderDataInfo-item-content:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.orderDataInfo__personalInfo.warning .orderDataInfo_fullName-text{
    color: red;
}

.orderDataInfo__fullName {
    padding: 5px 9px;
}

.orderDataInfo__personalInfo.warning .orderDataInfo__fullName{
    border: 1px solid red;
}

.orderDataInfo__input {
    border: none;
    padding: 0;
    width: 100%;
    background-color: transparent;
    vertical-align: middle;
}

.orderDataInfo__input-area {
    padding-bottom: 37px;
    resize: none;
    height: 100%;
}

.orderDataInfo__message {
    padding: 6px 19px;
}

.orderDataInfo-text {
    color: rgba(0, 0, 0, 0.5);
}

.orderData__header-page.warning .orderDataInfo-text {
    color: red;
}

.orderDataInfo-text-content {
    color: transparent;
}

.orderDataInfo-item-content:hover .orderDataInfo-text-content {
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in;
}

.orderDataInfo__email {
    display: flex;
    flex-direction: column;
}

.orderDataInfo__email-text {
    margin-bottom: 3px;
}

.orderDataInfo__email.warning .orderDataInfo__email-text{
    color: red;
}

.orderDataInfo__email-content {
    padding: 5px 9px;
    min-width: 160px;
    min-height: 22px;
}

.orderDataInfo__email.warning .orderDataInfo__email-content{
    border: 1px solid red;
}

.orderDataInfo__tel-text {
    margin-bottom: 3px;
}

.orderDataInfo__tel.warning .orderDataInfo__tel-text{
    color: red;
}

.orderDataInfo__tel-content {
    padding: 5px 9px;
    min-width: 160px;
    min-height: 22px;
}

.orderDataInfo__tel.warning .orderDataInfo__tel-content{
    border: 1px solid red;
}

.orderDataInfo__geo {
    display: flex;
    gap: 25px;
    flex: 1;
    margin: 0 24px 0 51px;
}

.orderDataInfo__geo-minicol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderDataInfo__channel,
.orderDataInfo__storage,
.orderDataInfo__project {
    min-width: 150px;
    min-height: 19px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.orderDataInfo__channel-content,
.orderDataInfo__storage-content,
.orderDataInfo__project-content {
    padding: 5px 9px;
}

.orderDataInfo__geo-bigcol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.orderDataInfo__address,
.orderDataInfo__comment,
.orderDataInfo__note {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;
}

.orderDataInfo__address-content {
    height: 97px;
    padding: 5px 7px;
    white-space: normal;
}

.orderDataInfo__writing {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.orderDataInfo__comment-content,
.orderDataInfo__note-content {
    height: 83px;
    padding: 5px 7px;
    white-space: normal;
}

.field__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.field__file-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field__file-fake {
    height: 40px;
    width: calc(100% - 80px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.field__file-button {
    width: 80px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.orderData__tableSettins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.orderData__tableSettins-wrapper {
    display: flex;
    gap: 15px;
}

.orderData__promoCode,
.orderData__discount{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.orderData__promoCode-text,
.orderData__discount-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.orderData__promoCode-input,
.orderData__discount-input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding-left: 5px;
}

.OrderData__tableSettins-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.orderData__table {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: 100%;
    margin-bottom: 40px;
}

.orderData__table-table {
    width: 100%;
    position: relative;
}

.orderdata-column-header {
    padding: 12px 0 22px;
    color: rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
    text-align: center;
    width: calc(100% / 9);
}

.orderData__table-tbody{
    position: relative;
}

.orderdata-column-tr:last-child {
    height: 50px;
    position: relative;
}

.orderdata-column {
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 15px;
}

.orderdata-column-header:last-child,
.orderdata-column:last-child {
    border: none;
}

.orderdata-column-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.orderdata-column__close-btn {
    padding: 3px 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.orderdata-column-container {
    padding: 3px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderData__table__add {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    position: absolute;
    left: 0%;
    top: 0%;
}

.orderData__table__add-btn {
    width: 23px;
    height: 23px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.orderData__table__add-btn::before {
    content: '+';
    width: 15px;
    height: 15px;
    display: block;
    top: 1.7px;
    left: 6px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.orderdata-total-column {
    padding: 10px 0;
    background-color: rgba(223, 223, 223, 1);
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.orderdata-total-column:first-child {
    border-radius: 0 0 0 7px;
}

.orderdata-total-column:last-child {
    border-radius: 0 0 7px 0;
    border: none;
}

.orderDate-page .product-table-overlay-add{
    top: 192px;
}

.product__save-btn-button{
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4px 23px;
    cursor: pointer;
    font-size: 14px
}

.product__save-btn-button:hover{
    background-color: rgba(230, 230, 230, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

.product__content-close-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}