.remains-table {
    width: 1443px;
    margin: 0 auto;
}

.remains-column-header {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: normal;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 26px;
    padding-top: 8px;
}

.remains-column-header:last-child {
    border-right: none;
}

.remains-column {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: normal;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 20px 15px;
    font-size: 13px;
    vertical-align: middle;
}

.remains-column:last-child {
    border-right: none;
}

.remains-column-container {
    padding: 4px 0;
    border: 1px solid transparent;
    border-radius: 7px;
}

.column-displayName__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remains-colums-selected {
    border: 1px solid #000;
}

.column-number-input__container{
    position: relative;
}

.column-number-input__container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.column-number-input-products {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.column-number-input__custom-products {
    position: absolute;
    top: -8px;
    left: 11px;
    height: 14px;
    width: 14px;
    background-color: transparent; 
    border: 1px solid black; 
    border-radius: 5px;
    cursor: pointer;
}

.column-number-input-products:checked ~ .column-number-input__custom-products {
    background-color: black; 
}

.column-number-input__custom-products::after {
    content: "";
    position: absolute;
    display: none;
}

.column-number-input-products:checked ~ .column-number-input__custom-products::after {
    display: block;
}

.column-number-input__custom-products::after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white; 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.column-number__content{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-left: 25px;
}

.dropdown-trigger {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: 165px;
    height: 29px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 33px 0px 10px;
    white-space: nowrap;
}

.dropdown-content {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 22px 20px;
    border-radius: 7px;
    width: 165px;
    color: #000;
    backdrop-filter: blur(10px);
    z-index: 5;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.dropdown-item {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border: 1px solid transparent;
}

.dropdown-item--selected{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.dropdown-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.dropdown-separator {
    border-top: 1px solid #ccc;
}