.product-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    justify-content: start;
}

.product-data__modification{
    display: flex;
    justify-content: center;
}

.product-data__modification-btn{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    cursor: pointer;
    background-color: transparent;
    padding: 4px 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.product-data__modification-btn:hover{
    background-color: rgba(230, 230, 230, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

.product-data__modification-btn--plus{
    font-weight: bolder;
    padding-right: 10px;
}

.product-data__form{
    display: flex;
    gap: 19px;
}

.product-data__price-info{
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex-basis: 400px;
    flex-shrink: 2;
}

.product-data__item{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.product-data__item-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.product-data__item.warning .product-data__item-text{
    color: red;
}

.product-data__item-input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding-left: 11px;
    height: 29px;
    width: 100%;
}

.product-data__item.warning .product-data__item-input{
    border: 1px solid red;
}

.product-data__group{
    position: relative;
}

.product-data__group-list{
    background-color: transparent;
    text-align: left;
    position: relative;
}

.product-data__group-list-items{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    top: 46px;
    border-radius: 7px;
    backdrop-filter: blur(2px);
    padding: 10px 0;
}

.product-data__group-list-button{
    background-color: transparent;
    border: 1px solid transparent;
    padding: 4px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.product-data__group-list-button:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.product-data__personal-info{
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex-grow: 1;
    flex-shrink: 1;
}

.product-data__personal-info-container{
    display: flex;
    gap: 19px;
}

.product-data__article,
.product-data__measure-unit{
    flex-grow: 1;
}

.product-data__description{
    flex-grow: 1;
}

.product-data__description-content{
    width: 100%;
    height: 100%;
}

.product-data__description-input{
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px 11px;
}

.product-data__remains{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.product-data__remains-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.product-data__remains-content{
    font-size: 14px;
}

.product-data__size{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product-data__size-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.product-data__size-items{
    display: flex;
    align-items: center;
    gap: 16px;
}

.product-data__size-item{
    border-radius: 7px;
    font-size: 14px;
    padding: 11.5px 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: transparent;
}

.product-data__size-item:hover{
    background-color: rgba(230, 230, 230, 1);
}

.product-data__size-item--selected{
    border: 1px solid rgba(0, 0, 0, 1);
}