.orders__header-container{
    position: sticky;
    top: 129px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
    height: 62px;
}

.orders__header{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders__btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    position: relative;
}

.orders__btn-filter{
    border: 1px solid #0000004D;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
}

.orders__btn-filter:hover{
    color: #fff;
    background: rgba(0, 0, 0, 1);
    transition: all 0.3s;
}

.orderTable-btn__container{
    display: flex;
    align-items: center;
    gap: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.orderTable-btn__counter{
    background-color: rgba(0, 0, 0, 1);
    border-radius: 7px;
    color: #fff;
    padding: 3px 10px;
}

.orderTable-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
}

.orderTable__settings-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.orderTable__settings-img{
 
}

/* .orderTable__settings-img--hover{
    display: none;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
}

.orderTable__settings-btn:hover .orderTable__settings-img{
    display: none;
}
.orderTable__settings-btn:hover .orderTable__settings-img--hover{
    display: block; 
} */

.orderTable__settings{
    position: absolute;
    right: 28px;
    top: 24px;
    border-radius: 7px;
    padding: 17px 35px 20px 14px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 3;
    backdrop-filter: blur(8px);
}

.orderTable__settings-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.orderTable__settings-item{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 9px;
}

.orderTable__settings-content{
    font-size: 13px;
    line-height: 16px;
}

.orderTable__settings-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-custom {
    position: absolute;
    top: -9px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent; 
    border: 1px solid black; 
    border-radius: 5px;
    cursor: pointer;
}

.custom-checkbox:checked ~ .checkbox-custom {
    background-color: black; 
}

.checkbox-custom::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox:checked ~ .checkbox-custom::after {
    display: block;
}

.checkbox-custom::after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white; 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.filter{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 191px;
    left: 0;
    background-color: #00000026;
    backdrop-filter: blur(10px);
    padding-top: 20px;
}

.filter__content{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 7px;
    width: calc(100% - 100px);
    position: relative;
    margin: 0 auto;
    height: 345px;
}

.filter__content-wrapper{
    width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    padding: 64px 0 58px;
}

.filter__search{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.filter__search-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.filter__search-img{
    width: 19px;
    height: 19px;
}

.filter__search-input{
    border: none;
    font-size: 14px;
}

.filter__container{
    display: flex;
    margin-bottom: 16px;
    gap: 26px;
    margin-bottom: 96px;
}

.filter__item{
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.filter__input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #fff;
    padding: 0 10px;
}

.filter__input--date{
    border-radius: 7px;
    width: 165px;
}

.filter__input--pokupatel{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 356px;
}

.filter__content-container{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: 150px;
    height: 29px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 33px 0px 10px;
    white-space: nowrap;
}

.filter__content-selectedId{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter__content-selectedId::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

.filter__content-selectedId::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.filter__content-selectedId::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
}

.filter__content-selectedId::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.filter__content-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 3px;
}

.filter__arrow{
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
}

.filter__arrow-btn{
    top: 0.5rem;
    position: absolute;
    width: 12px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: all 0.2s ease;
}

.filter__arrow-btn:first-of-type{
    left: 0;
    transform: rotate(45deg);
}

.filter__arrow-btn:last-of-type{
    right: 0;
    transform: rotate(-45deg);
}

.filter__arrow-active .filter__arrow-btn:first-of-type{
    transform: rotate(-45deg);
}

.filter__arrow-active .filter__arrow-btn:last-of-type{
    transform: rotate(45deg);
}

.id-list{
    background-color: rgba(0, 0, 0, 0.15);
    padding: 22px 20px;
    position: absolute;
    top: 52px;
    border-radius: 7px;
    width: 150px;
    color: #000;
    /* backdrop-filter: blur(40px); */
    /* z-index: 1; */
}

/* .id-list::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 7px;
} */

.id-list__content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.id-list__item{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
}

.id-list__item-selected{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.id-list__item-selected-last::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20.5px;
    left: 0; 
}

.id-list__item:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.filter__content-selectedStatus{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-list{
    background-color: rgb(194, 194, 194);
    padding: 22px 20px;
    position: absolute;
    top: 52px;
    border-radius: 7px;
    width: 150px;
}

.status-list__content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.status-list__item{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
}

.status-list__item-selected{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.status-list__item-selected-last::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20.5px;
    left: 0; 
}

.status-list__item:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.filter__select{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #fff;
}

.filter-btn-container{
    display: flex;
    justify-content: end;
    gap: 21px;
    margin-left: auto;
}