.neworder {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 18px 20px;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 1612px;
}

.neworder__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.neworder__dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 56px;
}

.neworder__wrapper {
    display: flex;
    gap: 25px;
    flex: 1;
    margin: 0 24px 0 51px;
}

.neworder__personalInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.neworder__fullName{
    min-width: 160px;
}

.neworder__fullName-text{
    margin-bottom: 3px;
}

.neworder-item {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    cursor: text;
}

.neworder__fullName-content {
    padding: 2px 9px;
}

.neworder__input {
    border: none;
    padding: 0;
    width: 100%;
    background-color: transparent;
}

.neworder__input-area {
    padding-bottom: 37px;
    resize: none;
    height: 100%;
}

.neworder__message {
    padding: 6px 19px;
}

.neworder-text {
    color: rgba(0, 0, 0, 0.5);
}

.neworder__email {
}

.neworder__email-text {
    margin-bottom: 3px;
}

.neworder__email-content {
    padding: 2px 9px;
    min-width: 160px;
    min-height: 22px;
}

.neworder__tel-text {
    margin-bottom: 3px;
}

.neworder__tel-content {
    padding: 2px 9px;
    min-width: 160px;
    min-height: 22px;
}

.neworder__geo-minicol {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.neworder__channel,
.neworder__storage,
.neworder__project {
    min-width: 150px;
    min-height: 19px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.neworder__channel-content,
.neworder__storage-content,
.neworder__project-content {
    padding: 2px 9px;
}

.neworder__geo-bigcol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.neworder__address,
.neworder__comment,
.neworder__note {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;
}

.neworder__address-content {
    height: 97px;
    padding: 5px 7px;
    white-space: normal;
}

.neworder__writing {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.neworder__comment-content,
.neworder__note-content {
    height: 83px;
    padding: 5px 7px;
    white-space: normal;
}

.orderTable__settings {
    position: absolute;
    right: 28px;
    top: 24px;
    border-radius: 7px;
    padding: 17px 35px 20px 14px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 3;
    backdrop-filter: blur(8px);
}

.orderTable__settings-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.orderTable__settings-item {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 9px;
}

.orderTable__settings-content {
    font-size: 13px;
    line-height: 16px;
}

.orderTable__settings-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-custom {
    position: absolute;
    top: -9px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.custom-checkbox:checked~.checkbox-custom {
    background-color: black;
}

.checkbox-custom::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox:checked~.checkbox-custom::after {
    display: block;
}

.checkbox-custom::after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* .highlighted-text {
    background-color: yellow;
} */

.highlighted {
    background-color: yellow;
  }
  
  .highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  .highlight {
    padding: 1px 4px;
    margin: 0 -4px;
  }