.products__header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.products__btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 521px
}

.filter{
    position: absolute;
}

.filter__content{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 37px 22px;
    width: 568px;
}

.closeBtn__container{
    display: flex;
    justify-content: end;
}

.filter__container{
    display: flex;
    margin-bottom: 16px;
    gap: 39px;
}

.filter__container + .filter__container{
    margin-bottom: 27px;
}

.filter__item{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.filter__input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
}

.filter__input--pokupatel{
    width: 323px;
    cursor: text;
}

.filter__input--zakaz{
    cursor: text;
}

.filter__select{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
}

.filter-btn-container{
    display: flex;
    justify-content: end;
    gap: 21px;
}